<template>
  <div>
    <div id="inner">
      <h1>Aardvark Roulette challenge</h1>
      <h4>API base URL</h4>
      <input
        type="text"
        value="https://dev-games-backend.advbet.com/v1/ab-roulette/1"
      />
      <h3>Statistics (last {{ lastGamesCount }})</h3>
      <table>
        <thead>
          <tr>
            <th></th>
            <th colspan="5" class="cold">Cold</th>
            <th colspan="27">Neutral</th>
            <th colspan="5" class="hot">Hot</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Slot</th>
            <td
              v-for="slotHits in lastGameStatistics"
              :class="redSlots.includes(slotHits.result) ? 'red' : 'black'"
              :key="slotHits"
            >
              {{ slotHits.result }}
            </td>
          </tr>
          <tr>
            <th>Hits</th>
            <td v-for="slotHits in lastGameStatistics" :key="slotHits">
              {{ slotHits.count }}
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <h3>Upcomming game</h3>
        <ul>
          <li id="upcommingGame">
            <h4>Game ID: {{ nextGame.id }}</h4>
          </li>
          <li id="upcommingGame">
            <h4>Next game starts in: {{ timerCount }}</h4>
          </li>
        </ul>
      </div>

      <div>
        <h3>Gameboard</h3>
        <button
          id="gameBoard"
          v-for="slot in configuration.positionToId"
          :class="configuration.colors[slot]"
          :key="slot"
        >
          {{ slot }}
        </button>
      </div>

      <div id="infoContainer">
        <div id="eventContainer" v-show="firstGame === false">
          <h3>Past games</h3>
          <ul>
            <li id="event" v-for="event in eventList" :key="event">
              Game {{ event.id }} has ended, result is {{ event.result }}
            </li>
          </ul>
        </div>

        <div id="logContainer">
          <h3>Log</h3>
          <pre>
            {{ log }}
            </pre
          >
        </div>
      </div>

      <h3 v-if="errorMsg">{{ errorMsg }}</h3>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "GetNextGame",
  created() {
    this.getConfiguration();
    this.getNextGame();
  },
  data() {
    return {
      apiUrl: "https://dev-games-backend.advbet.com/v1/ab-roulette/1",
      nextGame: [],
      errorMsg: "",
      timerCount: 0,
      lastGamesCount: 200,
      lastGameStatistics: [],
      configuration: [],
      redSlots: [
        32, 36, 14, 19, 30, 9, 21, 23, 18, 25, 5, 7, 34, 16, 12, 27, 1, 3,
      ],
      game: {
        id: "",
        result: "",
      },
      eventList: [],
      lastGame: [],
      firstGame: true,
      log: "",
    };
  },

  methods: {
    logAdd(value) {
      this.log += this.currentTime() + " " + value + "\n";
    },

    currentTime() {
      const event = new Date();
      const time = event.toISOString();

      return time;
    },

    getNextGame() {
      this.logAdd("Checking for new game");
      axios
        .get(this.apiUrl + "/nextGame")
        .then((response) => {
          this.nextGame = response.data;
          this.timerCount = this.nextGame.fakeStartDelta;
          this.getLastGamesStats();
          this.logAdd("GET .../nextGame");
          this.logAdd(
            "sleeping for fakeStartDelta " + this.nextGame.fakeStartDelta
          );
        })
        .catch((error) => {
          console.log(error);
          this.errorMsg = "Error while retrieving the data";
        });
    },

    getLastGamesStats() {
      this.logAdd("GET .../stats?limit=" + this.lastGamesCount);
      axios
        .get(this.apiUrl + "/stats?limit=" + this.lastGamesCount)
        .then((response) => {
          this.lastGameStatistics = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errorMsg = "Error while retrieving the data";
        });
    },
    getConfiguration() {
      this.logAdd("Loading game board");
      this.logAdd("GET .../configuration ");
      axios
        .get(this.apiUrl + "/configuration")
        .then((response) => {
          this.configuration = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errorMsg = "Error while retrieving the data";
        });
    },

    addGameResult() {
      this.logAdd("result is " + this.lastGame.result);
      this.game = {
        id: this.lastGame.id,
        result: this.lastGame.result,
      };
      this.eventList.push(this.game);
      this.firstGame = false;
    },

    getLastGameResult() {
      this.logAdd("GET .../game/" + this.nextGame.id);
      axios
        .get(this.apiUrl + "/game/" + this.nextGame.id)
        .then((response) => {
          this.lastGame = response.data;
          this.addGameResult();
        })
        .catch((error) => {
          console.log(error);
          this.errorMsg = "Error while retrieving the data";
        });
    },
  },

  watch: {
    timerCount: {
      handler(value) {
        if (value > 0) {
          setTimeout(() => {
            this.timerCount--;
          }, 1000);
        } else {
          setTimeout(() => {
            this.logAdd("Spinning the wheel");
            this.getLastGameResult();
            this.getNextGame();
          }, 2000);
        }
      },
    },
  },
};
</script>

<style>
#inner {
  width: 50%;
  margin: 0 auto;
}

body {
  font-family: Arial, Helvetica Neue, sans-serif;
}

input {
  width: 70%;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#infoContainer {
  width: 100%;
}

#eventContainer {
  width: 50%;
  float: left;
}

#logContainer {
  width: 50%;
  float: right;
}

table,
th,
tr,
td {
  border-top: 1px solid #ddd;
  border-collapse: collapse;
  padding: 6px;
}

.cold {
  background-color: aqua;
}

.hot {
  background-color: lightsalmon;
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

#gameBoard {
  display: inline-block;
  padding: 6 px 12 px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
pre {
  display: block;
  width: 70%;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: pre-line;
}

#event {
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 80%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

#upcommingGame {
  padding: 0px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 20%;
}
</style>